
body {

    background-image: url(yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}